numpy==1.25.2
Pillow==10.0.0
tensorflow==2.10.0
git+https://github.com/marcown/imgaug.git
opencv-python-headless==4.8.0.74
pandas==1.4.2
matplotlib==3.4.3
seaborn==0.12.2
scikit-learn==0.24.2
GitPython==3.1.32
dvc==3.5.1
mlflow==2.5.0
prefect==2.13.2
pydantic>=1.2.0,<2.0.0
evidently==0.4.5
SQLAlchemy==1.4.49
psycopg2-binary==2.9.7
torchvision==0.15.2
deepchecks[vision]==0.17.4